<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>eSEVA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/problems/js/rs-plugin/css/settings.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/problems/css/isotope.css" media="screen">
    <link rel="stylesheet" href="/problems/css/flexslider.css" type="text/css">
    <link rel="stylesheet" href="/problems/js/fancybox/jquery.fancybox.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/problems/css/bootstrap.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700">

    <link rel="stylesheet" href="/problems/css/style.css">
    <link rel="stylesheet" href="/problems/skin/default.css">

</head>

<body>
    <section id="header" class="appear"></section>
    <div class="navbar navbar-fixed-top" role="navigation"
        data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);"
        data-300="line-height:60px; height:60px; background-color:rgba(5, 42, 62, 1);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="fa fa-bars color-white"></span>
                </button>
                <div class="navbar-logo">
                    <a href="index.html"><img data-0="width:155px;" data-300=" width:120px;"
                            src="/problems/img/new_logo.png" alt=""></a>
                </div>
            </div>

        </div>
    </div>

    <section id="intro">
        <a src="/problems/img/image1.jpeg">
            <div class="intro-content">
                <h2>Submit Problem</h2>

            </div>
        </a>
    </section>

    <br>
    <br><br>


    <br>

    <section id="section-contact" class="section appear clearfix">
        <div class="container">

            <div class="row mar-bot40">
                <div class="col-md-offset-3 col-md-6">

                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="cform" id="contact-form">
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form action="/problem/submitProblem" method="POST" enctype="multipart/form-data">
                            <input type="text" placeholder="title" name="problem_title">
                            <input type="text" placeholder="description" name="problem_description">
                            <input type="hidden" placeholder="title" name="is_posted_anonymously" value="true">
                            <br><br>
                            <select name="region"> <% for (let r of region) { %>
                                <option value="<%= r %>"> <%= r %> </option>
                                <% } %> </select>
                            <br><br>
                            <select name="category"> <% for (let c of category) { %>
                                <option value="<%= c %>"> <%= c %> </option>
                                <% } %> </select>
                            <br><br>
                            <input type="file" name="images" multiple>upload image</input>
                            <br><br>
                            <input type="submit" value="submit"></input>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="footer" class="section footer">
        <div class="container">
            <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
                <div class="col-sm-12 align-center">
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row align-center mar-bot20">
                <ul class="footer-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Get in touch</a></li>
                </ul>
            </div>
            <div class="row align-center copyright">
                <div class="col-sm-12">
                    <p>Copyright &copy; All rights reserved</p>
                </div>
            </div>
            <div class="credits">

                Designed by <a href="https://bootstrapmade.com/">BootstrapMade.com</a>
            </div>
        </div>

    </section>
    <a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>

    <script src="/problems/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="/problems/js/jquery.js"></script>
    <script src="/problems/js/jquery.easing.1.3.js"></script>
    <script src="/problems/js/bootstrap.min.js"></script>
    <script src="/problems/js/jquery.isotope.min.js"></script>
    <script src="/problems/js/jquery.nicescroll.min.js"></script>
    <script src="/problems/js/fancybox/jquery.fancybox.pack.js"></script>
    <script src="/problems/js/skrollr.min.js"></script>
    <script src="/problems/js/jquery.scrollTo.min.js"></script>
    <script src="/problems/js/jquery.localScroll.min.js"></script>
    <script src="/problems/js/stellar.js"></script>
    <script src="/problems/js/jquery.appear.js"></script>
    <script src="/problems/js/jquery.flexslider-min.js"></script>

    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>

</body>

</html>