<% include partials/header %>

<h1>Sign Up Form</h1>

<form action="/user/public/signup" method="POST">
    <input type="text" name="firstname" placeholder="firstname">
    <input type="text" name="lastname" placeholder="lastname">
    <input type="text" name="username" placeholder="username">
    <input type="email" name="email" placeholder="email">
    <input type="number" name="aadhar" placeholder="aadhar number">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>


<% include ./partials/footer %> 