<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/profile/css/style.css">

    <title>eSeva Portal</title>
</head>

<body>


    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand font-italic" href="#">e-Seva</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primaryNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="primaryNavbar">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#">Home</a>
                <a class="nav-item nav-link" href="#">All Problems</a>
                <a class="nav-item nav-link" href="#">Submitted Problems</a>
                <a class="nav-item nav-link" href="#">Upvoted Problems</a>
                <a class="nav-item nav-link active" href="#">Profile</a>
            </div>
            <div class="ml-auto">
                <button type="button" class="btn btn-info">Sign Out</button>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                <div class="card">
                    <div class="card-heading">
                        <div class="row mt-3">
                            <div class="col">
                                <p class="display-5 font-italic text-center" style="font-size: 1.6em">Public
                                    User's
                                    Profile</p>
                            </div>
                        </div>
                    </div>
                    <div class="card_graphic">
                        <div class="card_graphic_content">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"
                                class="rounded-circle">
                            <h4 class="text-center text-white mt-3">Abhishek Nigam</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <h6 class="text-small text-muted">Username</h6>
                                    <h4>abhisheknigam</h4>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="text-small text-muted">Aadhar No</h6>
                                    <h4>4567 3674 8839</h4>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <h6 class="text-small text-muted">No of submitted problems</h6>
                                    <h4>40</h4>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="text-small text-muted">No of upvoted problems</h6>
                                    <h4>157</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h6 class="text-small text-muted">Email</h6>
                                    <h4>abhisheknigam1996@gmail.com</h4>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>

</html>